# [MM] 

.env*
.cache
.parcel-cache
.vscode
*.code-workspace
*.log
log/
*.pem
*.sql
# [MM]
db/*.sql

# NODE.JS
node_modules
package-lock.json
yarn.lock

# [MM]
# !public/assets
public/assets
!public/assets/readme.md
# public/assets/monaco
!public/assets/parcel
# [?? other]
# public/direct_upload/temp/*.jpg
# public/dist


# [MM] the following entries should not be here..

passenger.*.pid

*.tsbuildinfo

*.pid.lock

*scratchpad*


config/master.key
config/credentials.yml.enc


api_docs.md

coverage_api
coverage_fe

docker_volumes

erd_diagram.png
erd.pdf
latest_corpus.ts

core

upgrade_deps.sh

# ActiveStorage blobs:
storage/*

tmp

module_graph.*
