// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic,100,100italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,400italic,700,700italic,100,100italic&display=swap");
// Blueprint
@import "~/node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "~/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
